.header
    .container.container--between
        .logo
            img(src="/images/G-dark.png")
            strong Horiticultural Training
        .header__actions
            .btn.btn--bar
                i.fa.fa-file-text-o(style="margin-right: 0.75rem")
                | Add content
            .btn.btn--bar
                i.fa.fa-user-plus(style="margin-right: 0.75rem")
                | Add trainee
            .header__seperator
                .popover
                    span.popover__label Jason Corbett
                        i.fa.fa-caret-down(style="margin-left: 0.75rem")
