doctype html
html
    head
        link(rel="stylesheet", href="/css/app.css")
        link(href='http://fonts.googleapis.com/css?family=Oxygen:400,700,300',rel='stylesheet',type='text/css')
        block title
            title Default title
    body
        block content
