@keyframes showFooter
    0%
        transform: translateY(0)
    100%
        transform: translateY(-100%)

.playlist
    min-height: calc(100vh - 3.125rem);

.playlist__track
    font-weight: 500
    .active
        font-weight: 700

.playlist__progress
    margin: 0 auto 2.25rem auto
    width: 80%
    position: relative
    &:before
    &:after
        display: block
        color: #999
        font-size: 0.625rem
        position: absolute
        padding-right: 0.375rem
        text-align: right
        top: -0.3125rem
    &:before
        content: '0:00'
        right: calc(100% + 0.375rem)
    &:after
        content: '4:20'
        left: calc(100% + 0.375rem)

.playlist__item
    display: flex
    align-items: center
    justify-content: space-between
    padding: 1.5rem 0.75rem
    border-top: 1px solid #ddd
    &:first-child
        border-top: 0
    &.active
        .playlist__track
            font-weight: 700

.playlist__footer
    background: #fff
    position: absolute
    left: 0
    min-height: 8.75rem
    bottom: -8.75rem
    width: 100%
    padding: 1.5rem 0.75rem
    animation: showFooter 0.25s 0.25s ease forwards
    border-top: 1px solid #eee

.playlist__controls
    display: flex
    align-items: center
    justify-content: space-around
    margin-bottom: 1.5rem

.playlist__control.inactive
    color: #999

.volume
    display: flex
    align-items: center
    justify-content: space-between
    color: #ccc
    .slider
        flex: 1
        margin: 0 0.75rem

