.progress
    position: relative
    height: 0.375rem
    background: #bbb
    margin-bottom: 0.75rem

.progress__bar
    position: absolute
    top: 0
    left: 0
    height: 100%
    width: 30%
    background: $green
