extends ./layouts/layout.jade
block title
    title Growth Learning
block content
    .header
        .header__container.container.container--between.container--align
            i.fa.fa-bars(style="font-size: 1.125rem")#headerBtn
            h3.flat.header__title#title Jason Corbett
            .header__action
                .btn.btn--bar Listen
    .wrapper
        #course
            .course
                .course__hd
                    h3.course__title.flat Safety and Testing
                    h4.course__level.flat Certificate IV
                .course__body
                    ul.unstyled.course__modules
                        li
                            a.course__module.course__module--active(href="/student/module.html")
                                .container--between Safety in the workplace
                                    strong AHC12342 
                                .progress.course__progress
                                    .progress__bar
                        li
                            a.course__module(href="#")
                                .container--between Don't forget, safety first
                                    strong AHC42432 
                        li
                            a.course__module(href="#")
                                .container--between Keeping it simple
                                    strong AHC11234
                        li
                            a.course__module(href="#")
                                .container--between Look both ways
                                    strong AHC14233
                        li
                            a.course__module(href="#")
                                .container--between Bend at the knees
                                    strong AHC23212
                        li
                            a.course__module(href="#")
                                .container--between Safety in the workplace
                                    strong AHC12342 
        #module
            .container.container--alt
                .module-content
                    include:md ../modules/AHC12342/section1.md
     .overlay#overlay
         .overlay__content
             .overlay__action#overlayClose Close
             img(src="")#overlayImage
