extends ./layouts/layout.jade
block title
    title Growth Learning
block content
    .header
        .header__container.container.container--between.container--align
            i.fa.fa-bars(style="font-size: 1.125rem")#headerBtn
            h3.flat.header__title#title Jason Corbett
            .header__action
                .btn.btn--bar.fa.fa-headphones#toggleMode
    .wrapper#wrapper
        .toolbar
            .search
                input.input.full.search__input(placeholder="Search...")
        #course
            .course
                .course__hd
                    h3.course__title.flat Safety and Testing
                    h4.course__level.flat Certificate IV
                .course__body
                    ul.unstyled.course__modules
                        li
                            a.card.course__module.course__module--active(href="/student/module.html")
                                .card__hd
                                    .container--between Safety in the workplace
                                        strong AHC12342 
                                    .progress.course__progress
                                        .progress__bar
                                .card__body
                                    ul.course__list
                                        li.done
                                            i.fa.fa-check 
                                            | Read theory
                                        li
                                            i.fa.fa-check 
                                            | Quiz
                                        li
                                            i.fa.fa-check 
                                            | Provide practical evidence
                                        li
                                            i.fa.fa-check 
                                            | Assessment

                        li
                            a.card.course__module(href="#")
                                .card__hd
                                    .container--between Don't forget, safety first
                                        strong AHC42432 
                        li
                            a.card.course__module(href="#")
                                .card__hd
                                    .container--between Keeping it simple
                                        strong AHC11234
                        li
                            a.card.course__module(href="#")
                                .card__hd
                                    .container--between Look both ways
                                        strong AHC14233
                        li
                            a.card.course__module(href="#")
                                .card__hd
                                    .container--between Bend at the knees
                                        strong AHC23212
                        li
                            a.card.course__module(href="#")
                                .card__hd
                                    .container--between Safety in the workplace
                                        strong AHC12342 
        #module.text
            .module-content(hidden)
                .container.container--alt
                    include:md ../modules/AHC12342/section1.md
            .playlist
                .playlist__tracks
                    .playlist__item
                        strong.playlist__track Introduction
                        small 2:12 
                    .playlist__item
                        strong.playlist__track What is PPE?
                        small 1:54
                    .playlist__item
                        strong.playlist__track Types of PPE
                        small 4:20
                .playlist__footer
                    .playlist__progress
                        .slider
                            .slider__wrap.slider__wrap--thin
                                .slider__progress
                            .slider__knob.slider__knob--bar
                    .playlist__controls
                        i.fa.fa-backward.playlist__control.inactive
                        i.fa.fa-play.playlist__control#playButton(style="font-size: 38px")
                        i.fa.fa-forward.playlist__control
                    .volume
                        i.fa.fa-volume-off
                        .slider
                            .slider__wrap
                                .slider__progress
                            .slider__knob
                        i.fa.fa-volume-up
    .actions#actions
        .actions__hd
            h4.action__title.flat Take a quiz
            span.actions__close Close
        .actions__body
            p.reminder
                strong Remember 
                | - you are not assessed upon these results. Attempting these quizes will help you remember what you are reading!
            form.form.quiz
                .slides
                    .slide.slide--active(data-order="1")
                        h4.quiz__question What does PPE mean?
                        ul
                            li.quiz__option(data-answer="right") Personal protective equipment 
                            li.quiz__option(data-answer="wrong") Private patient education 
                            li.quiz__option(data-answer="wrong") Patient program event 
                            li.quiz__option(data-answer="wrong") Periodic protection episode 
                    .slide(data-order="2")
                        h4.quiz__question Which of the following is not a PPE?
                        ul
                            li.quiz__option(data-answer="right") Respirator 
                            li.quiz__option(data-answer="wrong") Googles 
                            li.quiz__option(data-answer="wrong") Uniform 
                            li.quiz__option(data-answer="wrong") Gloves 
                    .slide(data-order="3")
                        h4.quiz__question Which of the following is an example of how germs are transferred from one location to another?
                        ul
                            li.quiz__option(data-answer="wrong") Air 
                            li.quiz__option(data-answer="wrong") Clothes 
                            li.quiz__option(data-answer="wrong") Hands 
                            li.quiz__option(data-answer="right") All of the above 
                    .slide(data-order="4")
                        h3 You scored 2/3, not bad!
                        p Make sure to keep attempting thesethroughout your learning, quizes help you retain your learnings!
    .actions__nav
        span.actions__link Take a quiz
        span.actions__link Begin assessment
    .overlay#overlay
        .overlay__content
            .overlay__action#overlayClose Close
            img(src="")#overlayImage
