extends ./layouts/layout.jade
block title
    title Growth Learning - Training Delivered Differently - Certificate III Certificate IV Apprenticeships
block content
    include partials/header
    include:md ../modules/AHCPMG301A/section1.md
