extends ./layouts/layout.jade
block title
    title Growth Learning - Training Delivered Differently - Certificate III Certificate IV Apprenticeships
block content
    .header
        .container.container--between.container--align
            i.fa.fa-arrow-left
            h3.flat Safety in the workplace
            div
    .wrapper
        .container
            include:md ../modules/AHC12342/section1.md
