extends ./layouts/layout.jade
block title
    title Growth Learning
block content
    .landing
        .container.container--mobile
            .landing__head.centered
                img(src="/images/G-dark.png")
                h4.landing__title Growth
                    span Learning
            .landing__form
                form(action="/student/courses.html")
                    .form__group
                        input.input.full(type="text",placeholder="Email address")
                    .form__group
                        input.input.full(type="password",placeholder="Password")
                    button.btn.btn--block(type="submit") Login
