@import 'lib/reset.css'
@import 'lib/clearfix.css'
@import 'variables'
@import 'utility'

@import 'components/buttons'
@import 'components/cards'
@import 'components/modules'
@import 'components/landing'
@import 'components/forms'
@import 'components/courses'
@import 'components/progress'
@import 'components/header'
@import 'components/overlay'
@import 'components/playlist'
@import 'components/slider'
@import 'components/search'
@import 'components/actions'
@import 'components/slides'
@import 'components/quiz'

*
    box-sizing: border-box

img
    max-width: 100%

html
body
    height: 100%

body
    background: #ececec
    color: #444
    font-family: Oxygen, sans-serif
    font-size: 0.9375rem
    line-height: 1.5
    font-weight: 500

strong
    font-weight: 700

h1
h2
h3
h4
    color: inherit
    font-weight: 700
    line-height: 1.3
    margin-bottom: 0.75rem

p
    margin-bottom: 1.5rem

h1
    font-size: 1.75rem

h2
    font-size: 1.5rem

h3
    font-size: 1.125rem

a
    color: $blue
    text-decoration: none

.text-centered
    text-align: center

.flat
    margin-bottom: 0 !important

.container
    width: 100%
    margin: 0 auto
    padding: 0 0.75rem

.container--alt
    padding-top: 1.5rem
    padding-bottom: 1.5rem

.container--small
    max-width: 43.75rem

.container--mobile
    max-width: 25rem

.container--between
    display: flex
    justify-content: space-between

.container--align
    align-items: center

.logo
    display: flex
    align-items: center
    font-size: 1rem
    color: #fff
    img
        max-width: 3rem
        margin-right: 0.75rem

.logo--landing
    min-height: 50vh
    flex-direction: column
    img
        max-width: 8.75rem
        margin-bottom: 0.75rem
    .logo__label
        font-size: 1rem

.header__actions
    display: flex
    align-items: center

.header__seperator
    padding-left: 0.75rem
    margin-left: 0.75rem
    border-left: 1px solid rgba(255,255,255,0.2)

.login
    display: none
    color: #fff

.hero
    padding: 10vh 0
    margin-bottom: 10vh
    border-bottom: 1px solid rgba(255,255,255,0.25)

.hero__actions
    display: flex
    justify-content: space-between

.hero__footer
    display: none

.footer
    padding: 1.5rem 0

.row
    margin-left: -($colGutter)
    overflow: hidden

.col
    padding-left: $colGutter
    width: 100%
    float: left

.media
    display: flex

.media__item
    padding-right: 0.75rem

.media--centered
    align-items: center

.media__body
    flex: 1

.wrapper
    padding-top: $headerHeight
    will-change: transform
    transition: all 0.25s ease

.text
    .module-content
        display: block
    .playlist
        display: none

.audio
    transform: translateY(-($toolbarHeight))
    .module-content
        display: none
    .playlist
        display: block

.toolbar
    background-color: darken($blue,30)
    height: $toolbarHeight
    display: flex
    align-items: center
    padding: 0 0.75rem
    .search
        flex: 1

.reminder
    font-size: 0.75rem
    color: #999

@media(min-width: 1024px)

    .container
        padding: 0 1.5rem

    .logo
        font-size: 0.875rem
        img
            max-width: 1.5rem
    
    .hero
        min-height: calc(100vh - 4.375rem)
        display: flex
        align-items: center
        flex-direction: column
        padding: 0
        margin: 0
        text-align: center
        position: relative
        border-bottom: 0
        &:before
        &:after
            display: block
            content: ''
            position: absolute
            top: 0
            left: 0
            right: 0
            bottom: 0
        &:before
            z-index: 1
            background-image: url(../images/woodworking.jpg)
            background-size: cover
            opacity: 0.15

    .hero__title
        font-size: 2.375rem

    .hero__desc
        font-size: 1.125rem

    .hero__content
    .hero__footer
        position: relative
        z-index: 10
        width: 100%

    .hero__content
        flex: 1
        display: flex
        align-items: center

    .hero__actions
        display: block
        text-align: center
        padding-top: 1.5rem
        .btn:first-child
            margin-right: 1.5rem

    .hero__footer
        display: block
        padding: 1.5rem 0
        background-color: rgba(255,255,255,0.1)

    .login
        display: inline-block

    .col--half
        width: 50%

    .col--fifths
        width: 25%

    .col--sixths
        width: 16.666666667%

    .strip
        height: 80vh
        display: flex
        align-items: center
        justify-content: center

    .strip--alt
        background-color: rgba(0,0,0,0.1)
        background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.2))

    .intro
        line-height: 1.8
        font-weight: 300
        font-size: 1.125rem
        color: rgba(255,255,255,0.7)

    .popover__label
        font-size: 12px
        color: #fff
        display: block
        cursor: pointer

    .wrapper
        position: relative
        padding-top: ($headerHeight + 1.5rem)

    .sidebar
        position: fixed
        overflow-y: auto
        right: 0
        top: $headerHeight
        width: $sidebarWidth
        background-color: $sidebarBg
        bottom: 0
        padding: 1.5rem

    .tiny-title
        font-size: 0.625rem
        color: #666
        text-transform: uppercase
        padding-bottom: 0.375rem
        border-bottom: 1px solid #bbb

    .tiny-title--light
        color: #fff

    .empty-state
        padding-top: 12.5rem
