$darkBlue = #1D3047
$blue = #4A90E2
$altBlue = #2574D2
$green = #7ED321 
$red = #DD2525
$menuWidth = 300px

$sidebarWidth = 27.125rem
$sidebarBg = #444
$colGutter = 0.75rem
$headerHeight = 3.125rem
$toolbarHeight = 4.375rem

$accent = $altBlue
